<html>
  <head>
    <title>TestVox</title>
    <link rel="stylesheet" href="/static/css/testvox/testvox.css"
	  type="text/css" />
  </head>
  <body>
    <div id="header-container">
      <div id="header" class="wrapper clearfix">
	<img src="/static/images/testvox_logo.png" class="" alt="Logo"
	     id="header-logo" />
	<h1 id="title">TestVox</h1>
      </div>
    </div>
    <div id="main-container">
      <div id="main" class="wrapper clearfix">
	<div id="block">
	  <p>
	    This website hosts listening tests.  Each test can be
	    accessed with a unique participation token that was sent to
	    you.
	    </p>
	  <p>
	    To learn more about TestVox, and to host your own
	    listening tests, please visit the
	    <a href="https://bitbucket.org/happyalu/testvox/wiki/Home">
	      TestVox website</a>.
	  </p>
	</div>
      </div>
    </div>
  </body>
</html>
